@font-face {
    font-family: 'Basis Grotesque Arabic Pro';
    src: url('BasisGrotesqueArabicPro-Regular.woff2') format('woff2'),
        url('BasisGrotesqueArabicPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

