@font-face {
    font-family: 'Sporty Pro';
    src: url('SportyPro-Regular.woff2') format('woff2'),
        url('SportyPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

