@import "tailwindcss";

@theme inline {
  --font-Chakra: "Chakra Petch", sans-serif;
  --font-Rajdhani: "Rajdhani", sans-serif;
  --font-Exo: "Exo", sans-serif;
  --font-Sporty: "Sporty Pro";
  --color-black-1000: #080A0B;
  --color-gray-1000: #4B555E;
  --color-gray-1100: #1E2429;
  --color-gray-1200: #D9D9D9;
  --color-gray-1300: #E5E9EC;
  --color-gray-1400: #8F9DA2;
  --color-gray-1500: #EBEBEB;
  --color-gray-1600: #2D353B;
  --color-yellow-1000: #C3FF00;
  --breakpoint-xs: 390px;
  --breakpoint-sm: 575px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 991px;
  --breakpoint-xl: 1199px;
  --breakpoint-2xl: 1365px;
  --breakpoint-4xl: 1600px;
}

@font-face {
  font-family: 'Sporty Pro';
  src: url('../public/fonts/SportyPro-Regular.woff2') format('woff2'),
    url('../public/fonts/SportyPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}